/.wrangler/state
/.wrangler/tmp
/.vscode
.dev.vars
.DS_Store
/.fleet
/.idea
/.yarn
functions/metafile.js.json
functions/version.txt

node_modules

/.cache
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
functions/metafile.js.json
functions/metafile.server.json
functions/version.txt
functions/metafile.css.json
/public/build
.dev.vars