node_modules
.vscode
/.cache
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/public/build
.env
/.idea
app/styles/app.css
/functions/\[\[path\]\].js
.dev.vars
/.fleet
.DS_Store
.fleet/
.wrangler/state