@tailwind base;
@tailwind components;

* {
  --toastify-toast-min-height: 40px;
  --toastify-toast-width: fit-content;
}

h1 {
  line-height: 1.2;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

@tailwind utilities;
